<ion-view>

  <ion-header-bar class="bar-calm">
	<h1 class="title">Domisil</h1>
  </ion-header-bar>


  <ion-content>
    	<div style="text-align:center; margin-top:10px;">
    		<img src="img/map.png" alt="">
    	</div>

    	<div style="margin-top:5px; margin:0; text-align:center;" class="list">
           <h3 style="color:#16a085; padding:0; margin:0; margin-bottom:10px;">{{titulo}}</h3>
     <!--       <p>LAT: {{lat}}</p>
           <p>LONG: {{long}}</p> -->
        <div style="width:100%; height:320px; border: 1px gray dashed;" id="map"></div>
    	</div>
        
  </ion-content>
</ion-view>
